<div class="container">
<div *ngIf="is_error" class="alert alert-danger">{{message}}</div>
<div *ngIf="!is_error && message" class="alert alert-info">{{message}}</div>

<h2>Registration </h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Name :</label>
    <input type="name" class="form-control" id="name" [ngClass]="{ 'is-invalid': submitted && field.name.errors }" formControlName="name">
    
    <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
        <div *ngIf="field.name.errors.required">Name is required</div>
      </div>

  </div>
  <div class="form-group">
    <label for="email">Email :</label>
    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid':submitted && field.email.errors}" >
     <div *ngIf="submitted && field.email.errors" class="invalid-feedback"  >
           <div *ngIf="field.email.errors.required">Email is required</div>
          <div *ngIf="field.email.errors.email">Email must be a valid email address</div>
      </div> 
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" formControlName="password" id="pwd" [ngClass]="{'is-invalid':submitted &&field.password.errors}">
    <div *ngIf="submitted && field.password.errors" class="invalid-feedback"  >
           <div *ngIf="field.password.errors.required">Password is required</div>
           <div *ngIf="field.password.errors.minlength">Password must be at least 6 characters</div>
      </div> 
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

